<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L] 

RewriteCond %{HTTP_HOST} ^lyreh\.com [NC]
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://lyreh.com/$1 [R=301,L]
</IfModule>